{% extends "base.html" %}

{% block content %}

<style>
    @media (min-width: 992px) {
        .nav-ab-test--expand.size-w-100 .nav-pane__sub-menu {
            width: 33%;
        }

        #certification-pane.certNavWithPromo .nav-pane__menu-group {
            width: 75%;
        }

        #certification-pane.certNavWithPromo .nav-pane__nested-group--certs {
            width: 66%;
        }

        #certification-pane.certNavWithPromo .nav-pane__nested-menu--certs {
            width: 34%;
        }
    }






</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        if (cookieFactory.getCookie("specialistNavLinks")) {
            specialistNavLinks();
        }
        if (cookieFactory.getCookie("certNavWithPromo")) {
            certNavWithPromo();
        }
    });

    function specialistNavLinks() {
        var elsToHide = document.querySelectorAll(".nav-ab-test--hide");

        if (!cookieFactory.getCookie("specialistNavLinks")) {
            cookieFactory.setCookie("specialistNavLinks", "true");
        }

        [].forEach.call(elsToHide, function (el) {
            el.classList.add("hidden");
        });

        document.querySelector(".nav-ab-test--show").classList.remove("hidden");
        document.querySelector(".nav-ab-test--expand").classList.add("size-w-100");
    }

    function certNavWithPromo() {
        var certPane = document.getElementById("certification-pane");
        var certPanePromo = certPane.querySelector(".nav-pane__promos");

        var supportLinks = document.getElementById("nav-cert-support");
        var supportLinksTitle = supportLinks.querySelector(".nav-pane__menu-title");
        var supportLinksList = supportLinks.querySelector(".nav-pane__menu-list");

        if (!cookieFactory.getCookie("certNavWithPromo")) {
            cookieFactory.setCookie("certNavWithPromo", "true");
        }

        certPane.classList.add("certNavWithPromo");
        supportLinks.classList.add("hidden");
        certPanePromo.classList.remove("hidden");

        supportLinks.previousElementSibling.appendChild(supportLinksTitle);
        supportLinks.previousElementSibling.appendChild(supportLinksList);
    }






</script>


<div class="content">
    <header class="exercise-hero">
        <div class="exercise-hero__inner">
            <div class="exercise-hero__image-wrap">
                <div class="exercise-hero__image"
                     style="background-image: url('https://acewebcontent.azureedge.net/exercise-library/large/13-1.jpg');"></div>
            </div>
            <div class="exercise-hero__content-wrap">
                <h2 class="exercise-hero__category-title">Упражнения для рук</h2>
                <h1 class="exercise-hero__title">Отжимания в коленях</h1>
                <div class="exercise-hero__data">
                    <dl class="exercise-info exercise-info--hero">
                        <div class="exercise-info__term exercise-info__term--body-part">
                            <dt><span>Target </span>Часть тела:</dt>
                            <dd>Руки, грудь, плечи</dd>
                        </div>
                        <div class="exercise-info__term exercise-info__term--equipment">
                            <dt>Снаряжение:</dt>
                            <dd>Нет</dd>
                        </div>
                        <div class="exercise-info__term exercise-info__term--difficulty">
                            <dt>Сложность:</dt>
                            <dd class="exercise-info__meter-wrap">
                                <div class="exercise-info__meter">
                                    <img class="exercise-info__bar-img"
                                         src="https://acewebstatic.azureedge.net/v-637171850960000000/images/layout/2017/dist/exercise-meter.png"/>
                                    <span class="exercise-info__lvl-label exercise-info__lvl-label--lvl1"><span
                                            class="icon-wrap"><svg aria-hidden="true"
                                                                   class="icon icon--caret-up icon--white"><use
                                            xlink:href="#icon-caret-up"></use></svg></span>Начинающий</span>
                                </div>
                            </dd>
                        </div>
                    </dl>

                </div>
            </div>
        </div>
    </header>
    <div class="content__wrap">
        <div class="content__row">
            <main class="content__primary-two-column" role="main">

                <div class="exercise-post">
                    <section class="exercise-post__step">
                        <div class="exercise-post__step-image-wrap">
                            <div id="imageFlicker"></div>
                        </div>
                        <div class="exercise-post__step-content">

                            <h2>Шаг 1</h2>
                            <p>Исходное положение: встаньте на колени на коврике или полу и сведите ноги вместе</p>
                            <p>&nbsp;</p>
                            <h2>Шаг 2</h2>
                            <p>Медленно наклонитесь вперед, положив ладони на коврик, расположив руки.
                                на ширине плеч, пальцы смотрят вперед. Медленно перенесите свой вес вперед
                                пока ваши плечи не окажутся прямо над руками. Переставьте руки как
                                необходимо для полного разгибания вашего тела в коленях без какого-либо сгибания в
                                бедрах.
                                Напрягите туловище, напрягая мышцы кора и брюшного пресса («фиксация»).</p>
                            <p>&nbsp;</p>
                            <h2>Шаг 3</h2>
                            <p>Фаза вниз: медленно опускайтесь к полу, сохраняя неподвижный торс.
                                и голова выровнена с вашим позвоночником. Не позволяйте низу спины провисать, а бедрам
                                подниматься вверх.
                                вверх во время этой нисходящей фазы. Продолжайте опускаться, пока грудь или подбородок
                                прикоснуться к коврику или полу. Ваши локти должны оставаться близко к телу или
                                слегка расширяются наружу.</p>
                            <p>&nbsp;</p>
                            <h2>Шаг 4</h2>
                            <p>Фаза подъема: надавите руками вверх, сохраняя неподвижность туловища и головы.
                                вровень с вашим позвоночником. Не позволяйте нижней части спины провисать или поднимать
                                бедра вверх.
                                Продолжайте нажимать, пока руки не будут полностью вытянуты в локтях.</p>
                            <div id="exercise_tip">Отжимания нагружают лучезапястные суставы. Чтобы облегчить некоторые
                                из
                                вы можете использовать гантели и держаться за ручки, а не класть
                                руки на полу. Если вы жмете с высоты, например гантели, вы делаете
                                не нужно опускать грудь или подбородок к полу, а лучше опускаться до тех пор, пока
                                грудь или подбородок на уровне рукояток гантелей.

                            </div>
                        </div>
                    </section>
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock %}