{% extends "base.html" %}

{% block content %}

<style>
    @media (min-width: 992px) {
        .nav-ab-test--expand.size-w-100 .nav-pane__sub-menu {
            width: 33%;
        }

        #certification-pane.certNavWithPromo .nav-pane__menu-group {
            width: 75%;
        }

        #certification-pane.certNavWithPromo .nav-pane__nested-group--certs {
            width: 66%;
        }

        #certification-pane.certNavWithPromo .nav-pane__nested-menu--certs {
            width: 34%;
        }
    }

</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        if (cookieFactory.getCookie("specialistNavLinks")) {
            specialistNavLinks();
        }
        if (cookieFactory.getCookie("certNavWithPromo")) {
            certNavWithPromo();
        }
    });

    function specialistNavLinks() {
        var elsToHide = document.querySelectorAll(".nav-ab-test--hide");

        if (!cookieFactory.getCookie("specialistNavLinks")) {
            cookieFactory.setCookie("specialistNavLinks", "true");
        }

        [].forEach.call(elsToHide, function (el) {
            el.classList.add("hidden");
        });

        document.querySelector(".nav-ab-test--show").classList.remove("hidden");
        document.querySelector(".nav-ab-test--expand").classList.add("size-w-100");
    }

    function certNavWithPromo() {
        var certPane = document.getElementById("certification-pane");
        var certPanePromo = certPane.querySelector(".nav-pane__promos");

        var supportLinks = document.getElementById("nav-cert-support");
        var supportLinksTitle = supportLinks.querySelector(".nav-pane__menu-title");
        var supportLinksList = supportLinks.querySelector(".nav-pane__menu-list");

        if (!cookieFactory.getCookie("certNavWithPromo")) {
            cookieFactory.setCookie("certNavWithPromo", "true");
        }

        certPane.classList.add("certNavWithPromo");
        supportLinks.classList.add("hidden");
        certPanePromo.classList.remove("hidden");

        supportLinks.previousElementSibling.appendChild(supportLinksTitle);
        supportLinks.previousElementSibling.appendChild(supportLinksList);
    }

</script>


<div class="content">
    <div class="content__wrap">
        <div class="content__row">
            <main class="content__primary-two-column" role="main">


                <div class="page-tools">
                    <div class="page-tools__wrap">
                        <div class="ace-btn-double-wrap">
                            <a class="ace-btn-double overlay-reveal" data-src="#filter-overlay">View All Exercises <span
                                    class="icon-wrap"><svg aria-hidden="true"
                                                           class="icon icon--angle-right-bold icon--white"><use
                                    xlink:href="#icon-angle-right-bold"></use></svg></span></a>
                        </div>
                    </div>
                </div>


                    <div class="banner-slider__slide slick-slide">
                        <section class="exercise-featured exercise-featured--slider">
                            <div class="exercise-featured__image-wrap">
                                <div class="exercise-featured__image"
                                     style="background-image: url(https://acewebcontent.azureedge.net/exercise-library/large/259-1.jpg);"></div>
                            </div>
                            <div class="exercise-featured__text-wrap">
                                <div class="exercise-featured__description exercise-featured__description--slider">
                                    <h2 class="exercise-featured__title">CKC Parascapular Exercises</h2>
                                    <p class="exercise-featured__body">Step 1
                                        Starting Position: Kneel on an exercise mat or floor, positioning your knees and
                                        feet hip-width apart, with your feet dorsi-flexed (toes pointing towards your
                                        body). Slowly lean forward to place your hands on the mat,...</p>
                                    <a class="exercise-featured__btn"
                                       href="/education-and-resources/lifestyle/exercise-library/259/ckc-parascapular-exercises/">Learn
                                        More <span class="icon-wrap"><svg aria-hidden="true"
                                                                          class="icon icon--angle-right-bold icon--red"><use
                                                xlink:href="#icon-angle-right-bold"></use></svg></span></a>
                                </div>
                                <div class="exercise-featured__data">
                                    <dl class="exercise-info">
                                        <div class="exercise-info__term exercise-info__term--body-part">
                                            <dt><span>Target </span>Body Part:</dt>
                                            <dd>Chest, Shoulders</dd>
                                        </div>
                                        <div class="exercise-info__term exercise-info__term--equipment">
                                            <dt>Equipment:</dt>
                                            <dd>No Equipment</dd>
                                        </div>
                                        <div class="exercise-info__term exercise-info__term--difficulty">
                                            <dt>Difficulty:</dt>
                                            <dd class="exercise-info__meter-wrap">
                                                <div class="exercise-info__meter">
                                                    <img class="exercise-info__bar-img"
                                                         src="https://acewebstatic.azureedge.net/v-637171850960000000/images/layout/2017/dist/exercise-meter.png"/>
                                                    <span class="exercise-info__lvl-label exercise-info__lvl-label--lvl2"><span
                                                            class="icon-wrap"><svg aria-hidden="true"
                                                                                   class="icon icon--caret-up icon--white"><use
                                                            xlink:href="#icon-caret-up"></use></svg></span>Intermediate</span>
                                                </div>
                                            </dd>
                                        </div>
                                    </dl>

                                </div>
                                <a class="exercise-featured__footer-btn"
                                   href="/education-and-resources/lifestyle/exercise-library/259/ckc-parascapular-exercises/">Learn
                                    More <span class="icon-wrap"><svg aria-hidden="true"
                                                                      class="icon icon--angle-right-bold icon--white"><use
                                            xlink:href="#icon-angle-right-bold"></use></svg></span></a>
                            </div>
                        </section>

                    </div>
                    <div class="banner-slider__slide slick-slide">
                        <section class="exercise-featured exercise-featured--slider">
                            <div class="exercise-featured__image-wrap">
                                <div class="exercise-featured__image"
                                     style="background-image: url(https://acewebcontent.azureedge.net/exercise-library/large/11-1.jpg);"></div>
                            </div>
                            <div class="exercise-featured__text-wrap">
                                <div class="exercise-featured__description exercise-featured__description--slider">
                                    <h2 class="exercise-featured__title">Back Squat</h2>
                                    <p class="exercise-featured__body">Place a barbell in a rack just below
                                        shoulder-height. Dip under the bar to put it behind the neck across the top of&nbsp;the
                                        back, and&nbsp;grip the bar with the hands wider than shoulder-width apart. Lift
                                        the chest up and sq...</p>
                                    <a class="exercise-featured__btn"
                                       href="/education-and-resources/lifestyle/exercise-library/11/back-squat/">Learn
                                        More <span class="icon-wrap"><svg aria-hidden="true"
                                                                          class="icon icon--angle-right-bold icon--red"><use
                                                xlink:href="#icon-angle-right-bold"></use></svg></span></a>
                                </div>
                                <div class="exercise-featured__data">
                                    <dl class="exercise-info">
                                        <div class="exercise-info__term exercise-info__term--body-part">
                                            <dt><span>Target </span>Body Part:</dt>
                                            <dd>Butt/Hips, Legs - Thighs</dd>
                                        </div>
                                        <div class="exercise-info__term exercise-info__term--equipment">
                                            <dt>Equipment:</dt>
                                            <dd>Barbell</dd>
                                        </div>
                                        <div class="exercise-info__term exercise-info__term--difficulty">
                                            <dt>Difficulty:</dt>
                                            <dd class="exercise-info__meter-wrap">
                                                <div class="exercise-info__meter">
                                                    <img class="exercise-info__bar-img"
                                                         src="https://acewebstatic.azureedge.net/v-637171850960000000/images/layout/2017/dist/exercise-meter.png"/>
                                                    <span class="exercise-info__lvl-label exercise-info__lvl-label--lvl3"><span
                                                            class="icon-wrap"><svg aria-hidden="true"
                                                                                   class="icon icon--caret-up icon--white"><use
                                                            xlink:href="#icon-caret-up"></use></svg></span>Advanced</span>
                                                </div>
                                            </dd>
                                        </div>
                                    </dl>

                                </div>
                                <a class="exercise-featured__footer-btn"
                                   href="/education-and-resources/lifestyle/exercise-library/11/back-squat/">Learn More
                                    <span class="icon-wrap"><svg aria-hidden="true"
                                                                 class="icon icon--angle-right-bold icon--white"><use
                                            xlink:href="#icon-angle-right-bold"></use></svg></span></a>
                            </div>
                        </section>

                    </div>
                </div>


                <section class="exercise-card-grid exercise-card-grid--3col">
                    <header class="exercise-card-grid__header exercise-card-grid__header--bordered">
                        <div class="exercise-card-grid__title-wrap">
                            <h2 class="exercise-card-grid__title">Featured Exercises</h2>
                        </div>
                    </header>

                    <div class="exercise-card-grid__row">

                        <div class="exercise-card-grid__cell">
                            <a href="/education-and-resources/lifestyle/exercise-library/150/bear-crawl/"
                               class="exercise-card">
                                <div class="exercise-card__thumbnail">
                                    <div class="exercise-card__image"
                                         style="background-image:url('https://acewebcontent.azureedge.net/exercise-library/large/150-1.jpg'); background-position: center 33%;"></div>
                                </div>
                                <div class="exercise-card__body">
                                    <header class="exercise-card__header">
                                        <h2 class="exercise-card__title">Bear Crawl Exercise</h2>
                                    </header>
                                    <div class="exercise-card__info">
                                        <dl class="exercise-info">
                                            <div class="exercise-info__term exercise-info__term--body-part">
                                                <dt><span>Target </span>Body Part:</dt>
                                                <dd>Full Body/Integrated</dd>
                                            </div>
                                            <div class="exercise-info__term exercise-info__term--equipment">
                                                <dt>Equipment:</dt>
                                                <dd>No Equipment</dd>
                                            </div>
                                            <div class="exercise-info__term exercise-info__term--difficulty">
                                                <dt>Difficulty:</dt>
                                                <dd class="exercise-info__meter-wrap">
                                                    <div class="exercise-info__meter">
                                                        <img class="exercise-info__bar-img"
                                                             src="https://acewebstatic.azureedge.net/v-637171850960000000/images/layout/2017/dist/exercise-meter.png"/>
                                                        <span class="exercise-info__lvl-label exercise-info__lvl-label--lvl2"><span
                                                                class="icon-wrap"><svg aria-hidden="true"
                                                                                       class="icon icon--caret-up icon--white"><use
                                                                xlink:href="#icon-caret-up"></use></svg></span>Intermediate</span>
                                                    </div>
                                                </dd>
                                            </div>
                                        </dl>

                                    </div>
                                </div>
                                <span class="exercise-card__link">
                View Details <span class="icon-wrap"><svg aria-hidden="true" class="icon icon--arrow-right icon--white"><use
                                        xlink:href="#icon-arrow-right"></use></svg></span>
		    </span>
                            </a>
                        </div>
                        <div class="exercise-card-grid__cell">
                            <a href="/education-and-resources/lifestyle/exercise-library/14/bird-dog/"
                               class="exercise-card">
                                <div class="exercise-card__thumbnail">
                                    <div class="exercise-card__image"
                                         style="background-image:url('https://acewebcontent.azureedge.net/exercise-library/large/14-1.jpg'); background-position: center 33%;"></div>
                                </div>
                                <div class="exercise-card__body">
                                    <header class="exercise-card__header">
                                        <h2 class="exercise-card__title">Bird-dog</h2>
                                    </header>
                                    <div class="exercise-card__info">
                                        <dl class="exercise-info">
                                            <div class="exercise-info__term exercise-info__term--body-part">
                                                <dt><span>Target </span>Body Part:</dt>
                                                <dd>Abs, Back, Butt/Hips</dd>
                                            </div>
                                            <div class="exercise-info__term exercise-info__term--equipment">
                                                <dt>Equipment:</dt>
                                                <dd>No Equipment</dd>
                                            </div>
                                            <div class="exercise-info__term exercise-info__term--difficulty">
                                                <dt>Difficulty:</dt>
                                                <dd class="exercise-info__meter-wrap">
                                                    <div class="exercise-info__meter">
                                                        <img class="exercise-info__bar-img"
                                                             src="https://acewebstatic.azureedge.net/v-637171850960000000/images/layout/2017/dist/exercise-meter.png"/>
                                                        <span class="exercise-info__lvl-label exercise-info__lvl-label--lvl2"><span
                                                                class="icon-wrap"><svg aria-hidden="true"
                                                                                       class="icon icon--caret-up icon--white"><use
                                                                xlink:href="#icon-caret-up"></use></svg></span>Intermediate</span>
                                                    </div>
                                                </dd>
                                            </div>
                                        </dl>

                                    </div>
                                </div>
                                <span class="exercise-card__link">
                View Details <span class="icon-wrap"><svg aria-hidden="true" class="icon icon--arrow-right icon--white"><use
                                        xlink:href="#icon-arrow-right"></use></svg></span>
		    </span>
                            </a>
                        </div>
                        <div class="exercise-card-grid__cell">
                            <a href="/education-and-resources/lifestyle/exercise-library/359/farmer-s-carry/"
                               class="exercise-card">
                                <div class="exercise-card__thumbnail">
                                    <div class="exercise-card__image"
                                         style="background-image:url('https://acewebcontent.azureedge.net/exercise-library/large/359-1.jpg'); background-position: center 33%;"></div>
                                </div>
                                <div class="exercise-card__body">
                                    <header class="exercise-card__header">
                                        <h2 class="exercise-card__title">Farmer's Carry</h2>
                                    </header>
                                    <div class="exercise-card__info">
                                        <dl class="exercise-info">
                                            <div class="exercise-info__term exercise-info__term--body-part">
                                                <dt><span>Target </span>Body Part:</dt>
                                                <dd>Full Body/Integrated</dd>
                                            </div>
                                            <div class="exercise-info__term exercise-info__term--equipment">
                                                <dt>Equipment:</dt>
                                                <dd>Dumbbells</dd>
                                            </div>
                                            <div class="exercise-info__term exercise-info__term--difficulty">
                                                <dt>Difficulty:</dt>
                                                <dd class="exercise-info__meter-wrap">
                                                    <div class="exercise-info__meter">
                                                        <img class="exercise-info__bar-img"
                                                             src="https://acewebstatic.azureedge.net/v-637171850960000000/images/layout/2017/dist/exercise-meter.png"/>
                                                        <span class="exercise-info__lvl-label exercise-info__lvl-label--lvl2"><span
                                                                class="icon-wrap"><svg aria-hidden="true"
                                                                                       class="icon icon--caret-up icon--white"><use
                                                                xlink:href="#icon-caret-up"></use></svg></span>Intermediate</span>
                                                    </div>
                                                </dd>
                                            </div>
                                        </dl>

                                    </div>
                                </div>
                                <span class="exercise-card__link">
                View Details <span class="icon-wrap"><svg aria-hidden="true" class="icon icon--arrow-right icon--white"><use
                                        xlink:href="#icon-arrow-right"></use></svg></span>
		    </span>
                            </a>
                        </div>
                    </div>
                    <div class="exercise-card-grid__row">

                        <div class="exercise-card-grid__cell">
                            <a href="/education-and-resources/lifestyle/exercise-library/135/bodyweight-squat/"
                               class="exercise-card">
                                <div class="exercise-card__thumbnail">
                                    <div class="exercise-card__image"
                                         style="background-image:url('https://acewebcontent.azureedge.net/exercise-library/large/135-1.jpg'); background-position: center 33%;"></div>
                                </div>
                                <div class="exercise-card__body">
                                    <header class="exercise-card__header">
                                        <h2 class="exercise-card__title">Bodyweight Squat</h2>
                                    </header>
                                    <div class="exercise-card__info">
                                        <dl class="exercise-info">
                                            <div class="exercise-info__term exercise-info__term--body-part">
                                                <dt><span>Target </span>Body Part:</dt>
                                                <dd>Abs, Butt/Hips, Legs - Calves and Shins, Legs - Thighs</dd>
                                            </div>
                                            <div class="exercise-info__term exercise-info__term--equipment">
                                                <dt>Equipment:</dt>
                                                <dd>No Equipment</dd>
                                            </div>
                                            <div class="exercise-info__term exercise-info__term--difficulty">
                                                <dt>Difficulty:</dt>
                                                <dd class="exercise-info__meter-wrap">
                                                    <div class="exercise-info__meter">
                                                        <img class="exercise-info__bar-img"
                                                             src="https://acewebstatic.azureedge.net/v-637171850960000000/images/layout/2017/dist/exercise-meter.png"/>
                                                        <span class="exercise-info__lvl-label exercise-info__lvl-label--lvl1"><span
                                                                class="icon-wrap"><svg aria-hidden="true"
                                                                                       class="icon icon--caret-up icon--white"><use
                                                                xlink:href="#icon-caret-up"></use></svg></span>Beginner</span>
                                                    </div>
                                                </dd>
                                            </div>
                                        </dl>

                                    </div>
                                </div>
                                <span class="exercise-card__link">
                View Details <span class="icon-wrap"><svg aria-hidden="true" class="icon icon--arrow-right icon--white"><use
                                        xlink:href="#icon-arrow-right"></use></svg></span>
		    </span>
                            </a>
                        </div>
                        <div class="exercise-card-grid__cell">
                            <a href="/education-and-resources/lifestyle/exercise-library/227/childs-pose/"
                               class="exercise-card">
                                <div class="exercise-card__thumbnail">
                                    <div class="exercise-card__image"
                                         style="background-image:url('https://acewebcontent.azureedge.net/exercise-library/large/227-1.jpg'); background-position: center 33%;"></div>
                                </div>
                                <div class="exercise-card__body">
                                    <header class="exercise-card__header">
                                        <h2 class="exercise-card__title">Childs Pose</h2>
                                    </header>
                                    <div class="exercise-card__info">
                                        <dl class="exercise-info">
                                            <div class="exercise-info__term exercise-info__term--body-part">
                                                <dt><span>Target </span>Body Part:</dt>
                                                <dd>Abs, Back, Butt/Hips, Legs - Thighs</dd>
                                            </div>
                                            <div class="exercise-info__term exercise-info__term--equipment">
                                                <dt>Equipment:</dt>
                                                <dd>No Equipment</dd>
                                            </div>
                                            <div class="exercise-info__term exercise-info__term--difficulty">
                                                <dt>Difficulty:</dt>
                                                <dd class="exercise-info__meter-wrap">
                                                    <div class="exercise-info__meter">
                                                        <img class="exercise-info__bar-img"
                                                             src="https://acewebstatic.azureedge.net/v-637171850960000000/images/layout/2017/dist/exercise-meter.png"/>
                                                        <span class="exercise-info__lvl-label exercise-info__lvl-label--lvl1"><span
                                                                class="icon-wrap"><svg aria-hidden="true"
                                                                                       class="icon icon--caret-up icon--white"><use
                                                                xlink:href="#icon-caret-up"></use></svg></span>Beginner</span>
                                                    </div>
                                                </dd>
                                            </div>
                                        </dl>

                                    </div>
                                </div>
                                <span class="exercise-card__link">
                View Details <span class="icon-wrap"><svg aria-hidden="true" class="icon icon--arrow-right icon--white"><use
                                        xlink:href="#icon-arrow-right"></use></svg></span>
		    </span>
                            </a>
                        </div>
                        <div class="exercise-card-grid__cell">
                            <a href="/education-and-resources/lifestyle/exercise-library/348/anti-rotation-reverse-lunge/"
                               class="exercise-card">
                                <div class="exercise-card__thumbnail">
                                    <div class="exercise-card__image"
                                         style="background-image:url('https://acewebcontent.azureedge.net/exercise-library/large/348-1.jpg'); background-position: center 33%;"></div>
                                </div>
                                <div class="exercise-card__body">
                                    <header class="exercise-card__header">
                                        <h2 class="exercise-card__title">Anti-rotation Reverse Lunge</h2>
                                    </header>
                                    <div class="exercise-card__info">
                                        <dl class="exercise-info">
                                            <div class="exercise-info__term exercise-info__term--body-part">
                                                <dt><span>Target </span>Body Part:</dt>
                                                <dd>Full Body/Integrated</dd>
                                            </div>
                                            <div class="exercise-info__term exercise-info__term--equipment">
                                                <dt>Equipment:</dt>
                                                <dd>Resistance Bands/Cables</dd>
                                            </div>
                                            <div class="exercise-info__term exercise-info__term--difficulty">
                                                <dt>Difficulty:</dt>
                                                <dd class="exercise-info__meter-wrap">
                                                    <div class="exercise-info__meter">
                                                        <img class="exercise-info__bar-img"
                                                             src="https://acewebstatic.azureedge.net/v-637171850960000000/images/layout/2017/dist/exercise-meter.png"/>
                                                        <span class="exercise-info__lvl-label exercise-info__lvl-label--lvl1"><span
                                                                class="icon-wrap"><svg aria-hidden="true"
                                                                                       class="icon icon--caret-up icon--white"><use
                                                                xlink:href="#icon-caret-up"></use></svg></span>Beginner</span>
                                                    </div>
                                                </dd>
                                            </div>
                                        </dl>

                                    </div>
                                </div>
                                <span class="exercise-card__link">
                View Details <span class="icon-wrap"><svg aria-hidden="true" class="icon icon--arrow-right icon--white"><use
                                        xlink:href="#icon-arrow-right"></use></svg></span>
		    </span>
                            </a>
                        </div>
                    </div>
                </section>
        </div>
    </div>


    <section class="sub-section sub-section--related">
        <div class="sub-section__wrap">
            <header class="sub-section__header">
                <h2 class="sub-section__label sub-section__label--blue"><span class="sub-section__label-inner">Related Articles</span>
                </h2>


            </header>
            <div class="sub-section__row ">
                <div class="sub-section__post sub-section__post--1-3">
                    <a href="/education-and-resources/lifestyle/blog/5107/top-10-benefits-of-stretching/"
                       class="post-related">
                        <div class="post-related__img-wrap">
                            <div class="post-related__img"
                                 style="background-image:url('https://acewebcontent.azureedge.net/blogs/blog-fitlife-100714-2.jpg');"></div>
                        </div>
                        <header class="post-related__head">
                            <ul class="post-related__taxonomy">
                                <li>Fitness</li>
                            </ul>
                            <h2 class="post-related__title">Top 10 Benefits of Stretching</h2>
                        </header>
                    </a>

                </div>
                <div class="sub-section__post sub-section__post--1-3">
                    <a href="/education-and-resources/lifestyle/blog/5353/weight-lifting-for-weight-loss/"
                       class="post-related">
                        <div class="post-related__img-wrap">
                            <div class="post-related__img"
                                 style="background-image:url('https://acewebcontent.azureedge.net/blogs/opengraphimages/blog-fitlife-032715-11.jpg');"></div>
                        </div>
                        <header class="post-related__head">
                            <ul class="post-related__taxonomy">
                                <li>Overweight &amp; Obesity</li>
                            </ul>
                            <h2 class="post-related__title">Weight Lifting for Weight Loss</h2>
                        </header>
                    </a>

                </div>
                <div class="sub-section__post sub-section__post--1-3">
                    <a href="/education-and-resources/lifestyle/blog/6313/7-core-stability-exercises/"
                       class="post-related">
                        <div class="post-related__img-wrap">
                            <div class="post-related__img"
                                 style="background-image:url('https://acewebcontent.azureedge.net/fit-life/2017/03/2017-02-28-improve-core-strength-header.png');"></div>
                        </div>
                        <header class="post-related__head">
                            <ul class="post-related__taxonomy">
                                <li>Fitness</li>
                            </ul>
                            <h2 class="post-related__title">7 Core Stability Exercises</h2>
                        </header>
                    </a>

                </div>
            </div>

        </div>
    </section>

{% endblock %}
