{% extends "base.html" %}

{% block content %}

<style>
    @media (min-width: 992px) {
        .nav-ab-test--expand.size-w-100 .nav-pane__sub-menu {
            width: 33%;
        }

        #certification-pane.certNavWithPromo .nav-pane__menu-group {
            width: 75%;
        }

        #certification-pane.certNavWithPromo .nav-pane__nested-group--certs {
            width: 66%;
        }

        #certification-pane.certNavWithPromo .nav-pane__nested-menu--certs {
            width: 34%;
        }
    }











</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        if (cookieFactory.getCookie("specialistNavLinks")) {
            specialistNavLinks();
        }
        if (cookieFactory.getCookie("certNavWithPromo")) {
            certNavWithPromo();
        }
    });

    function specialistNavLinks() {
        var elsToHide = document.querySelectorAll(".nav-ab-test--hide");

        if (!cookieFactory.getCookie("specialistNavLinks")) {
            cookieFactory.setCookie("specialistNavLinks", "true");
        }

        [].forEach.call(elsToHide, function (el) {
            el.classList.add("hidden");
        });

        document.querySelector(".nav-ab-test--show").classList.remove("hidden");
        document.querySelector(".nav-ab-test--expand").classList.add("size-w-100");
    }

    function certNavWithPromo() {
        var certPane = document.getElementById("certification-pane");
        var certPanePromo = certPane.querySelector(".nav-pane__promos");

        var supportLinks = document.getElementById("nav-cert-support");
        var supportLinksTitle = supportLinks.querySelector(".nav-pane__menu-title");
        var supportLinksList = supportLinks.querySelector(".nav-pane__menu-list");

        if (!cookieFactory.getCookie("certNavWithPromo")) {
            cookieFactory.setCookie("certNavWithPromo", "true");
        }

        certPane.classList.add("certNavWithPromo");
        supportLinks.classList.add("hidden");
        certPanePromo.classList.remove("hidden");

        supportLinks.previousElementSibling.appendChild(supportLinksTitle);
        supportLinks.previousElementSibling.appendChild(supportLinksList);
    }











</script>


<div class="content">
    <div class="content__wrap">
        <section class="exercise-card-grid exercise-card-grid--3col">
            <header class="exercise-card-grid__header exercise-card-grid__header--bordered">
                <div class="exercise-card-grid__title-wrap">
                    <h2 class="exercise-card-grid__title">Популярные упражнения</h2>
                </div>
            </header>


            {% for exercise in exercises %}

            {% if loop.first %}
            <div class="exercise-card-grid__row">
                {% elif loop.index0 % 3 == 0%}
            </div>
            <div class="exercise-card-grid__row">
                {% endif %}
                <div class="exercise-card-grid__cell">
                    <a href="/education-and-resources/lifestyle/exercise-library/227/childs-pose/"
                       class="exercise-card">
                        <div class="exercise-card__thumbnail">
                            <div class="exercise-card__image"
                                 style="background-image:url('{{ exercise.img }}'); background-position: center 55%;"></div>
                        </div>
                        <div class="exercise-card__body">
                            <header class="exercise-card__header">
                                <h2 class="exercise-card__title">{{ exercise.title }}</h2>
                            </header>
                            <div class="exercise-card__info">
                                <dl class="exercise-info">
                                    <div class="exercise-info__term exercise-info__term--body-part">
                                        <dt><span>Target </span>Часть тела:</dt>
                                        <dd>{{ exercise.body_part }}</dd>
                                    </div>
                                    <div class="exercise-info__term exercise-info__term--equipment">
                                        <dt>Оборудование:</dt>
                                        <dd>{{ exercise.equipment }}</dd>
                                    </div>
                                    <div class="exercise-info__term exercise-info__term--difficulty">
                                        <dt>Сложность:</dt>
                                        <dd class="exercise-info__meter-wrap">
                                            <div class="exercise-info__meter">
                                                <img class="exercise-info__bar-img"
                                                     src="https://acewebstatic.azureedge.net/v-637171850960000000/images/layout/2017/dist/exercise-meter.png"/>
                                                <span class="exercise-info__lvl-label exercise-info__lvl-label--lvl{{ exercise.difficulty }}"><span
                                                        class="icon-wrap"><svg aria-hidden="true"
                                                                               class="icon icon--caret-up icon--white"><use
                                                        xlink:href="#icon-caret-up"></use></svg></span>{{ difficulty[exercise.difficulty] }}</span>
                                            </div>
                                        </dd>
                                    </div>
                                </dl>

                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>


{% endblock %}
